<!-- Showing previously written posts and includes link to edit post -->
{{#each posts as |post|}}
<div class="previous-posts card">
  <div class="card-header">
    <a href="/dashboard/edit/{{post.id}}">
      <h5 class="post-header">{{post.title}}</h5>
    </a>
    <span class="post-byline">Posted by {{username}} on {{format_date date_created}}</span>
    </div>
    <div class="card-body">
      <p class="card-text">{{post.content}}</p>
    </div>
  </div>
{{/each}}

<div class="add-new-post text-center">
  <button type="submit" class="btn new-post text-center">+ New Post</button>
</div>

<div class="create-new-post card hidden">
  <div class="card-header">
    Create New Post
  </div>
  <form class="new-post-form card-body">
    <div class="form-group">
      <label for="post-title">Title</label>
      <input class="form-input" type="text" id="post-title" />
    </div>
    <div class="form-group">
      <label for="post-content">Content</label>
      <textarea class="form-input" type="text" cols="50" rows="4" id="post-content"></textarea>
    </div>
    <button type="submit" class="btn btn-dark btn-lg btn-block">Create</button>
  </form>
</div>

  <script src="/js/posts.js"></script>